In [1]:
import pandas as pd

df = pd.read_csv('/content/budget_data.csv')
print("DataFrame 'df' loaded successfully. Displaying the first 5 rows:")
df.head()

DataFrame 'df' loaded successfully. Displaying the first 5 rows:

                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

In [2]:
print("First 5 rows of the DataFrame:")
print(df.head())

print("\nColumn names and their data types:")
df.info()

print("\nMissing values in each column:")
print(df.isnull().sum())

print("\nDescriptive statistics of numerical columns:")
print(df.describe())

First 5 rows of the DataFrame:
                        date    category  amount
0  2022-07-06 05:57:10 +0000  Restuarant    5.50
1  2022-07-06 05:57:27 +0000      Market    2.00
2  2022-07-06 05:58:12 +0000       Coffe   30.10
3  2022-07-06 05:58:25 +0000      Market   17.33
4  2022-07-06 05:59:00 +0000  Restuarant    5.50

Column names and their data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3608 non-null   object
 1   category  3608 non-null   object
 2   amount    3608 non-null   float64
dtypes: float64(1), object(2)
memory usage: 84.7+ KB

Missing values in each column:
date        0
category    0
amount      0
dtype: int64

Descriptive statistics of numerical columns:
            amount
count  3608.000000
mean     17.130241
std      84.946260
min       0.050000
25%       4.800000
50%       7.100000
75%      11.505000
max    2500.000000

In [3]:
print("Unique values in the 'category' column:")
print(df['category'].unique())

Unique values in the 'category' column:
['Restuarant' 'Market' 'Coffe' 'Transport' 'Other' 'Phone' 'Communal'
 'Clothing' 'Motel' 'Travel' 'Rent Car' 'Sport' 'Events' 'Learning'
 'Health' 'Taxi' 'Business lunch' 'Film/enjoyment' 'Tech' 'joy' 'Fuel'
 'business_expenses']

In [4]:
tag_mapping = {
    'Restuarant': 'Food & Dining',
    'Coffe': 'Food & Dining',
    'Market': 'Groceries',
    'Business lunch': 'Food & Dining',
    'Fuel': 'Transportation',
    'Transport': 'Transportation',
    'Taxi': 'Transportation',
    'Rent Car': 'Transportation',
    'Motel': 'Travel & Accommodation',
    'Travel': 'Travel & Accommodation',
    'Communal': 'Utilities',
    'Phone': 'Utilities',
    'Clothing': 'Shopping',
    'Sport': 'Entertainment & Hobbies',
    'Events': 'Entertainment & Hobbies',
    'Film/enjoyment': 'Entertainment & Hobbies',
    'Learning': 'Education',
    'Health': 'Healthcare',
    'Tech': 'Shopping',
    'joy': 'Miscellaneous',
    'business_expenses': 'Business Expenses',
    'Other': 'Miscellaneous'
}

df['Tag'] = df['category'].map(tag_mapping)

print("DataFrame with new 'Tag' column:")
print(df)

DataFrame with new 'Tag' column:
                           date    category  amount             Tag
0     2022-07-06 05:57:10 +0000  Restuarant    5.50   Food & Dining
1     2022-07-06 05:57:27 +0000      Market    2.00       Groceries
2     2022-07-06 05:58:12 +0000       Coffe   30.10   Food & Dining
3     2022-07-06 05:58:25 +0000      Market   17.33       Groceries
4     2022-07-06 05:59:00 +0000  Restuarant    5.50   Food & Dining
...                         ...         ...     ...             ...
3603  2024-09-28 13:31:37 +0000      Market    8.00       Groceries
3604  2024-09-29 02:57:07 +0000   Transport    0.50  Transportation
3605  2024-09-29 04:29:03 +0000      Market    7.40       Groceries
3606  2024-09-29 04:53:24 +0000       Coffe   15.00   Food & Dining
3607  2024-09-29 10:40:38 +0000  Restuarant    8.00   Food & Dining

[3608 rows x 4 columns]

In [5]:
transactions_per_tag = df.groupby('Tag').size().sort_values(ascending=False)
total_amount_per_tag = df.groupby('Tag')['amount'].sum().sort_values(ascending=False)

print("Number of transactions per tag:")
print(transactions_per_tag)

print("\nTotal amount spent per tag:")
print(total_amount_per_tag)

Number of transactions per tag:
Tag
Food & Dining              1747
Groceries                   946
Transportation              411
Utilities                   152
Miscellaneous                91
Entertainment & Hobbies      73
Education                    72
Shopping                     53
Healthcare                   46
Travel & Accommodation        9
Business Expenses             8
dtype: int64

Total amount spent per tag:
Tag
Food & Dining              22279.31
Shopping                    7350.50
Groceries                   6451.03
Healthcare                  5896.50
Utilities                   4858.58
Travel & Accommodation      4431.45
Entertainment & Hobbies     4222.40
Education                   2525.31
Transportation              1820.78
Miscellaneous               1570.05
Business Expenses            400.00
Name: amount, dtype: float64